* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    background: #ebF2F5;
    height: 100%;
}

body, input, button, textarea{
    font: 600 18px Nunito, sans-serif;
}
#root {
    height: 100%;
}
.img {
    width: 400px;
}
.loading-box{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.399);
    z-index: 99;
}
.loadingDiv{
    height: 25vh;
    width: 20vw;
    z-index: 99;
    opacity: 1;
    border-radius: 100px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.35);
    background: url('../assets/images/loading2.gif') no-repeat 50% center;
    background-color: white;
    background-size: 100%;
}