html, body {
    margin: 0;
    height: 100%;
}
#page-cadastrar-hotel {
    width: 100%;
    z-index: 8;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-cadastrar-hotel .logo-cadastrar {
    margin-top: 10px;
}
#page-cadastrar-hotel .content-wrapper-cadastrar .main-box {
    flex-direction: column;
    display: flex;
    width: 90%;
}

#page-cadastrar-hotel .content-wrapper-cadastrar {
    width: 100%;
    max-width: 900px;
    height: 95%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

#page-cadastrar-hotel .content-wrapper-cadastrar .main-box h1{
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

#page-cadastrar-hotel .content-wrapper-cadastrar .main-box p{
    color: rgb(0, 0, 0);
    margin-top: 0px;
    font-size: 24px; 
    line-height: 0px;
    text-align: center;
}

.content-wrapper .location{
    color: #0000;
    position: absolute;
    right: 0;
    top: 0;

    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .location strong{
    font-weight: 800;
}

.content-wrapper .enter-app{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;

    background: #ffd666;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#page-cadastrar-hotel  .content-wrapper .enter-app:hover{
    background: #96feff;
}

#page-cadastrar-hotel .loginLink{
    color: #000;
    margin-left: 20px;
}

.form-new-store {
    font-size: 15px;
}

  /**
  * Make the field a flex-container, reverse the order so label is on top.
  */
   
  .column .field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
  }

  .row > .field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
    width: 100%;
}
.row > .field-image {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}
.row > .field:first-child{
    margin-right: 50px;
}
.row > .field:last-child{
    margin-left: 50px;
}

  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
  .form-new-store label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  .form-new-store input {
    width: 100%;
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
  }
  
  .form-new-store input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
  
  .form-new-store label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  .form-new-store input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 1.125rem) scale(1.2);
    color: #000;
  }
  /**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
  * Show the placeholder when the input is focused.
  */
  .form-new-store input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when 
  * there's something in the input at all.
  */
  .form-new-store input:not(:placeholder-shown) + label,
  .form-new-store input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }
  
  #page-cadastrar-hotel .create-store {
    border: 0px;
    padding: 20px;
    background: #15c3d6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}

#page-cadastrar-hotel  .div-face {
    margin-top: 15px;
}

#page-cadastrar-hotel  .create-store-face {
    margin-top: 15px;
    border: 0px;
    padding: 20px;
    height: 64px;
    background: #4267B2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}

#page-cadastrar-hotel  .create-store-face:hover {
    background: #4e6fb3;
}



#page-cadastrar-hotel  .create-store-register {
    border: 0px;
    padding: 20px;
    height: 64px;
    background: #15c3d6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}

#page-cadastrar-hotel  .create-store-register:hover {
    background: #17d6eb;
}

#page-cadastrar-hotel  .create-store-back {
    border: 0px;
    padding: 20px;
    height: 64px;
    background: #979797;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20%;
}


#page-cadastrar-hotel .create-store-hidden {
    margin: 2em 0;
    position: absolute;
    height: 64px;
    background-color: white;
    z-index: 1;
    width: 80%;
    animation: opacityOut 0.3s, transformOut 0.3s, visibilityOut 0.3s;
    transform-origin: 0% 100%;
    opacity: 0;
    visibility: hidden;
}

.create-store-register:hover {
    background: #17d6eb;
}

#page-cadastrar-hotel .form-box{
    justify-content: flex-start;
}

#page-cadastrar-hotel .buttons-register{
    margin: 2em 0;
    width: 100%;
    background-color: white;
    animation: opacityIn 0.3s, transformIn 0.3s, visibilityIn 0.3s;
    transform-origin: 0% 100%;
}

.box-buttons{
    
    margin: 10px 0;
}

.separator {
    margin-top: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.p-viewer{
    position: absolute;
    right: 10%;
    cursor: pointer;
}

.close-cadastro{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.column{
    display: flex;
    flex-direction: column;
}


.row{
    display: flex;
    flex-direction: row;
}
.row-image{
    display: flex;
    flex-direction: row;
}

.row-image input{
    width: 150px !important;
}

.field-funciona {
    width: 100%;
}

.field-funciona label{
    display: block;
    text-align: center;
    cursor: text;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate(0, 1.125rem) scale(1.2);
    color: #000;
}
.field-funciona input{
    width: 80%;
    text-align: center;
}


.field-funciona div {
    width: 100%;
    display: flex;
    
    align-items: center;
    margin-top: 10px;
}
.field-funciona div div{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.field-funciona input::-webkit-input-placeholder {
    opacity: 1;
    
  }
.form-new-store input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  .field-funciona .images-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
}
.images-container img {
    width: 100%;
    height: 96px;
    object-fit: cover;
    border-radius: 20px;
}
  .field-funciona .new-image {
    height: 96px;
    background: #F5F8FA;
    border: 1px dashed #96D2F0;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: none;
    margin: 0;
}
.field-funciona input[type=file] {
    display: none;
}

  input[type="file"] {
      border: 0;
  }

  input[type="time"]::-webkit-calendar-picker-indicator { background: none; display:none; }

@media only screen and (max-height: 650px) {
    #page-cadastrar-hotel .logo-cadastrar {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .logo-cadastrar {
        display: none;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }
    #page-cadastrar-hotel {
        height: auto;
    }
    #page-cadastrar-hotel .content-wrapper-cadastrar {
        height: auto;
    }
    .row {
        flex-direction: column;
    }

    .row > .field:first-child{
        margin-right: 0;
    }
    .row > .field:last-child{
        margin-left: 0;
    }

    .field-funciona div {
        flex-direction: column;
    }
}
