#page-landingstore {
    /* height: 100vh; */
    background: linear-gradient(329.5deg, #29B6D1 0%, #00C7C7 100% );

    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 901px) {
    #page-landingstore .content-wrapper {
        /* background: url('../../assets/images/background.png') no-repeat 40% center;
        background-size: 250px 250px; */
    }
}

#page-landingstore .content-wrapper {
    width: 100%;
    height: 100vh;
    max-width: 1200px;


    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#page-landingstore .content-wrapper-dashboard {
    width: 100%;
    max-width: 1100px;

    margin: 10px 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

#page-landingstore .content-wrapper main{
    max-width: 350px;
    margin-right: 50px;
}

#page-landingstore .content-wrapper main h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
}


#page-landingstore .content-wrapper main p{
    margin-top: 40px;
    font-size: 24px; 
    line-height: 34px;
}

.content-wrapper .location{
    position: absolute;
    right: 0;
    top: 0;

    font-size: 24px;
    line-height: 34px;
}

#page-landingstore .form-signin h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
}


.content-wrapper .location strong{
    font-weight: 800;
}

.content-wrapper .enter-app{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 140px;
    height: 80px;

    text-decoration: none;
    background: #ffd666;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover{
    background: #96feff;
}

li {
    display: table-cell;
}

.loginLink{
    color: white;
    margin-left: 20px;
    cursor: pointer;
} 

.loginLink:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .loginLink:hover:after { 
    width: 100%;
    right: 0;
  }

.close-cadastro{
    position: absolute;
    right: 15px;
    top: 15px;
}

.hotel-list {
    color: black;
    margin: auto;
    border-collapse: collapse;
}

.hotel-list tbody tr{
    border-bottom: 1px dashed #96D2F0;;
    cursor: pointer;
}
.hotel-list tbody td{
    border-right: solid white 15px;
    border-left: solid white 15px;
}
.hotel-list tbody tr:hover {
    background-color: rgb(199, 225, 248);
    border-bottom: solid rgb(199, 225, 248) 10px;
}

.hotel-list tbody tr:hover td{
    border-right: solid rgb(199, 225, 248) 15px;
    border-left: solid rgb(199, 225, 248) 15px;
}



@media only screen and (max-width: 900px) {
    html {
        background: linear-gradient(329.5deg, #29B6D1 0%, #00C7C7 100% );
    }
    #page-landingstore {
        background: linear-gradient(329.5deg, #29B6D1 0%, #00C7C7 100% );
    
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    #page-landingstore .content-wrapper {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: auto;
    }
    
    #page-landingstore .content-wrapper-dashboard {
        width: 90%;
        max-width: 1100px;
        height: 100%;
    
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    
        margin-bottom: 10px;
    }

    #page-landingstore .content-wrapper main {
        background: none;
        background-size: 200px 200px;
        margin-right: 0;
        margin-top: 5%;
        text-align: center;
    }

    #page-landingstore .content-wrapper main h1{
        font-size: 40px;
        font-weight: 700;
        line-height: 65px;
        margin-bottom: 15px;
    }

    #page-landingstore .content-wrapper main p{
        display: none;
    }

    .content-wrapper .enter-app{
        position: relative;
        right: 0;
    
        width: 100%;
        height: 80px;
    
        background: #ffd666;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s;
    }
  }

  @media only screen and (max-height: 700px) {
    #page-landingstore {
        
        background: linear-gradient(329.5deg, #29B6D1 0%, #00C7C7 100% );
    
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    #page-landingstore .content-wrapper main {
        background: url('../../assets/images/background.png') no-repeat 80% 100%;
        background-size: 200px 200px;
    }
    #page-landingstore .content-wrapper main p{
        display: none;
    }

    #page-landingstore .content-wrapper main h1{
        font-size: 45px;
        font-weight: 700;
        line-height: 65px;
        margin-bottom: 200px;
    }

    .content-wrapper .enter-app{
        position: absolute;
        left: 0;
        bottom: -10px;
    
        width: 140px;
        height: 80px;
    
        background: #ffd666;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s;
    }
  }