#page-map{
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#menu{
    position: absolute;
    width: 0px;
    opacity: 0;
    height: 100%;

    background: linear-gradient(329.5deg, #29B6D1 0%, #00C7C7 100% );
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#store-detail{
    position: absolute;
    width: 0px;
    opacity: 0;
    height: 100%;
    

    background: linear-gradient(329.5deg, #29B6D1 0%, #00C7C7 100% );

    display: flex;
    flex-direction: column;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#store-detail .details-image {
    overflow: hidden;
    width: 100%;
    height: 290px;
    position: relative;
    display: block;
}
#store-detail .details-image img{
    position: relative;
    max-height: 300px;
    width: 100%;
    z-index: 1;
}



.details-main{
    width: 100%;
    padding: 10px;
    border-top: 1px solid;
}

.details-main div{
    margin-top: 15px;
}

.details-address a{
    margin-left: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.details-address{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details-horario{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    align-items: center;
}

.details-horario ul {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.close-cadastro {
    z-index: 2;
}

#page-map .asideOn{
    width: 400px;
    opacity: 1;
    z-index: 56;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#page-map .asideOff{
    width: 0px;
    opacity: 0;
    z-index: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#page-map aside h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    margin: 20px 15px;
}

#page-map aside p {
    line-height: 28px;
}

#page-map aside footer {
    display: flex;
    flex-direction: column;

    line-height: 24px;
    margin-bottom: 40px;
}

#page-map .leaflet-container{
    z-index: 5;
}

#page-map .create-store {
    position: absolute;
    left: 20px;
    bottom: 40px;

    z-index: 10;

    width: 64px;
    height: 64px;
    background: #15c3d6;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s;
}

#page-map .create-store:hover {
    background: #17d6eb;
}

.leaflet-div-icon{
    background: url('../../assets/images/boxicon.png') no-repeat 80% center;
}


@media only screen and (max-width: 900px) {
    #page-map .create-store {
        position: absolute;
        left: 20px;
        bottom: 120px;

        z-index: 10;

        width: 64px;
        height: 64px;
        background: #15c3d6;
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color 0.2s;
    }
    #store-detail .details-image img{
        width: 340px;
        top: 0;
        left: 0;
        transform: translateY(0) translateX(0);
    }

    #page-map .asideOn{
        width: 340px;
    }
}
